Done By Raiyan Firaz

In [1]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [2]:
import nltk

In [3]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
import pandas as pd

In [5]:
import chardet
with open("spam.csv", 'rb') as rawdata:
  result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'Windows-1252', 'language': ''}

In [6]:
dt = pd.read_csv("spam.csv", encoding ='Windows-1252' )

In [7]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
dt['spam']= dt['type'].map({'spam':1, 'ham':0}).astype(int)

In [9]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
print("COLUMS IN THE GIVEN DATA:")
for col in dt.columns:
  print(col)

COLUMS IN THE GIVEN DATA:
type
text
spam

In [11]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:", t)

NO OF ROWS IN REVIEW COLUMN: 116

In [12]:
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [13]:
def tokenizer(text):
  return text.split()

In [14]:
dt['text']= dt['text'].apply(tokenizer)

In [15]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [16]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords = False)

In [17]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [18]:
dt['text']= dt['text'].apply(stem_it)

In [19]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [20]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [21]:
def lemmit_it(text):
  return[lemmatizer.lemmatize(word, pos='a')for word in text]

In [22]:
dt['text']=dt['text'].apply(lemmit_it)

In [23]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [24]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
from nltk.corpus import  stopwords
stop_words= stopwords.words("english")

In [26]:
def stop_it(text):
  review = [word for word in text if not word in stop_words]
  return review

In [27]:
dt['text']=dt['text'].apply(stop_it)

In [28]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [29]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [30]:
dt['text'] = dt['text'].apply(' '.join)

In [31]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid = TfidfVectorizer()
y = dt.spam.values
x = tfid.fit_transform(dt['text'])

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_text, y_train, y_text = train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [34]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_text)

In [35]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_log)

accuracy: 87.5